/* .viewbox {
  transition: opacity 1s; /* Changed duration to 2s */
/* opacity: ${!showViewBox ? 1 : 0}; */
/* transition-delay: ${!showViewBox ? "0.5s" : "0"}; Delay the transition if fading out */
$yellow: #ffee99;
$blue: #229;
$noise: url("/public/grainy.svg");

.viewbox {
  z-index: 10;
  position: fixed;
  padding: 3px;
  margin: 3px;
  margin-top: 60px;
  right: 50px;
  left: 50px;
  bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;

  background-color: rgba(147, 140, 129, 0.9);
  background-image: $noise; /* Added background-image property */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

  &::after {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #fff $noise;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(
      0% 0%,
      5% 70%,
      10% 0%,
      15% 100%,
      20% 0%,
      25% 45%,
      30% 0%,
      35% 100%,
      40% 0%,
      45% 60%,
      50% 0%,
      55% 100%,
      60% 0%,
      65% 100%,
      70% 0%,
      75% 100%,
      80% 0%,
      85% 100%,
      90% 0%,
      95% 50%,
      100% 0%
    );
    clip-path: polygon(
      0% 0%,
      5% 70%,
      10% 0%,
      15% 100%,
      20% 0%,
      25% 45%,
      30% 0%,
      35% 100%,
      40% 0%,
      45% 60%,
      50% 0%,
      55% 100%,
      60% 0%,
      65% 100%,
      70% 0%,
      75% 100%,
      80% 0%,
      85% 100%,
      90% 0%,
      95% 50%,
      100% 0%
    );
  }

  &.rough {
    &::after {
      bottom: -6px;
      height: 6px;
    }
  }

  &.yellow {
    background: $yellow $noise;

    &::after {
      background: $yellow $noise;
    }
  }
}
