.viewbox {
  z-index: 10;
  position: fixed;
  padding: 3px;
  margin: 3px;
  margin-top: 60px;
  right: 50px;
  left: 50px;
  bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  border-radius: 8px;

  background-image: url("/white-torn-paper-example.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;

  width: 300px;
  height: 180px;
  color: black;
  font-size: 12px;
}
/* 
.statementBox {
  z-index: 10;
  position: fixed;
  padding: 3px;
  margin: 3px;
  margin-top: 60px;
  right: 50px;
  left: 50px;
  bottom: -50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  border-radius: 8px;
  background-image: url("/white-torn-paper-example.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  width: 300px;
  height: 180px;
  color: black;
  font-size: 12px;
  opacity: 0.3;
  transition: opacity 0.7s ease-in-out,
     bottom 0.7s ease-in-out,
     transform 0.1s ease-in-out 0.1s; 
} */
/* 
.viewbox.show {
  opacity: 1;
  bottom: 250px;
}

.viewbox.closing {
  opacity: 0;
  transform: scale(0.8);
} */
