@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --Grey-jar: #515151ff;
  --Brown-jar: #938c81ff;
  --Khaki-jar: #b4aa99ff;
  --SageGreen-jar: #72948aff;
  --LightMint-jar: #98b0a9ff;
}

/* Apply styles for screens up to 767px wide (mobile devices) */
@media only screen and (max-width: 767px) {
  body {
    background-color: transparent;
    font-family: Arial, sans-serif; /* Default font family */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding to create spacing around content */
    color: whitesmoke;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backgroundapp {
  background: linear-gradient(
    -65deg,
    #070707 0%,
    #111111 20%,
    #262626 40%,
    rgb(80, 92, 88) 60%,
    #2c2c2c 80%,
    #141414 100%
  );
}

.animate-fade-out {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.animate-fade-out.out {
  opacity: 0;
}
