@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/components/Arrows/Arrows.module.css";

:root {
  /* CSS HEX */
  --Grey-jar: #515151ff;
  --Brown-jar: #938c81ff;
  --Khaki-jar: #b4aa99ff;
  --SageGreen-jar: #72948aff;
  --LightMint-jar: #98b0a9ff;
}

/* Apply styles for screens up to 767px wide (mobile devices) */
@media only screen and (max-width: 767px) {
  body {
    background-color: transparent;
    font-family: Arial, sans-serif; /* Default font family */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding to create spacing around content */
    color: whitesmoke;
  }
}
/* Styles for screens wider than 767px */
@media only screen and (min-width: 768px) {
  body {
    background-color: #f5f5f5; /* Light gray background */
    font-family: Arial, sans-serif; /* Default font family */
    margin: 0; /* Center content horizontally */
    padding: 20px; /* Increase padding for wider screens */
    color: whitesmoke; /* Dark text color */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundapp {
  background: linear-gradient(
    -65deg,
    #070707 0%,
    #111111 20%,
    #262626 40%,
    rgb(80, 92, 88) 60%,
    #2c2c2c 80%,
    #141414 100%
  );
}
.canvas-no-scrolling {
  touch-action: auto !important;
}

.animate-fade-out {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.animate-fade-out.out {
  opacity: 0;
}

.animate-fade-in {
  animation: fadeIn ease-in 700ms;
}
