@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 
  some variables ...  

  --foreground-rgb: 0, 0, 0;
   */
}
/* Apply styles for screens up to 767px wide (mobile devices) */
@media only screen and (max-width: 767px) {
  body {
    background-color: transparent;
    font-family: Arial, sans-serif; /* Default font family */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding to create spacing around content */
    color: antiquewhite;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backgroundapp {
  background: linear-gradient(
    to bottom right,
    #070707 0%,
    #111111 20%,
    #262626 40%,
    #474646 60%,
    #2c2c2c 80%,
    #141414 100%
      /* #e1d8d8 0%,
    #727171 20%,
    #656060 40%,
    #abd9d6 60%,
    #a5a1a1 80%,
    #e4d4d4 100% */
  );
}
